<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Импорт Memo Fora4s</title>
		<style>
			body { font-family: Tahoma; font-size: 16px; padding: 3em; color: #333; }
			div { width: 270px; margin: 0 auto; }
			h3 { width: 270px; text-align: justify; text-align-last: justify; }
			dl { line-height: 2em; }
			dt { width: 110px; float: left; }
			dd { width: 230px; text-align: right; }
		</style>
    </head>
    <body>
		<div>
			<h3>Импорт успешно завершён</h3>
			<dl>
				<dt><b>Добавлено:</b></dt>
				<dd>{{ add }} товаров</dd>
				
				<dt><b>Обновлено:</b></dt>
				<dd>{{ update }} товаров</dd>
			</dl>
		</div>
    <body>
</html>